.image-item {
  float: left;
  height: 300px;
  width: 21%;
  margin: 0% 0.5% 5% 0.5%;
  padding: 5%;
  text-align: center;
  border: 1px solid black;
  overflow: hidden;
}

.image-item-link{
  text-decoration: none;
  color: black
}
