
.login-signup {
  padding-top: 3em;
  padding-left: 5em;

  input {
    padding: 0.5em;
    margin: 1em;
    border: 1px solid black;
    border-radius: .5em;
    text-decoration: none;
    outline: none;
  }

  input[type='submit'] {
    background-color: #000;
    color: #fff;
  }

  input[type='submit'][disabled] {
    background-color: lightgrey;
  }

}

.failed-message {
  font-size: 0.75em;
  color: grey;
  margin-bottom: 1.5em;
}
